@page
@{
    ViewData["Title"] = "Client Submitted Successfully";
}
<div class="jumbotron d-flex align-items-center min-vh-100">
    <div class="container text-center">
        <div class="text-center">
            <h1 class="display-4">Your client has been saved successfully</h1>
            <a asp-page="/submission" class="btn btn-dark" style="width: 30%">Go Back</a>
        </div>
    </div>
</div>